<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S2MapBuildTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <S2MapBuildTool.Properties.Settings>
            <setting name="ResCompiler" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="VMapFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AddonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildWorld" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoPhysSettle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BakeLightmaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightmapResolution" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="LightmapQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LightmapCompressionDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightmapDisableFiltering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableLightingCalculations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuildPhys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildVis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildNav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightmapCPU" serializeAs="String">
                <value>False</value>
            </setting>
        </S2MapBuildTool.Properties.Settings>
    </userSettings>
</configuration>